Repository arashbahreini/University, pull requests merged in 2019-03, with the labels that each got.

#30 created college logic
  Business/CollegeBusiness.cs
Labels: College

#34 admission logic added
  Business/AdmissionLogic.cs
Labels: Admission, Priority: High

#29 Edit student!
  Business/StudentBusiness.cs
Labels: Priority: High

#31 Added classBusiness.cs file
  Business/ClassBusiness.cs
Labels: Priority: High
